* {
    font-family: Arial, Helvetica, sans-serif
}


html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f0606;
    height: 100dvh;
    }
    body {
    display: grid;
    grid-template-areas:
    'title title open'
    'beats beats beats'
    'scrub scrub scrub'
    'previous playpause next'
    'volume volume tumo';
    grid-template-rows: 64px auto 32px auto 32px;
    grid-template-columns: 33% auto 33%;
    background-color: rgb(0, 0, 0);
    width: 600px;
    height: 600px;
    border-radius: 50px;
    overflow: hidden;
    -webkit-box-shadow:0px 0px 300px 40px rgb(255, 0, 0);
-moz-box-shadow: 0px 0px 300px 40px rgb(255, 0, 0);
box-shadow: 0px 0px 300px 40px rgb(255, 0, 0);
    }

    button {

        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    button:active {
        scale: 0.9;
    }

    
    
    #title {
    color: rgb(254, 0, 0);
    margin: 0%;
    grid-area: title;
    font-size: 35px;
    }

    #open-input {

        grid-area: open;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center
    }
    

    #file-input {
        position: absolute;
        opacity: 0;
        inset: 0;
    }
    
    #beats {
    grid-area: beats;
    display: flex;
    justify-content: center;
    align-items: center;

    }
    
    #scrub-input {
        position: relative;
    grid-area: scrub;
    display: flex;
    }
    
    #volume-input {
        grid-area: volume;
        position: relative;
        display: flex;
    }
    
    #previous-button {
    grid-area: previous;
    }
    
    #play-button {
    grid-area: playpause;
    }

    #icon-play {


    }

    #icon-pause {

        display: none;
    }
    
    #next-button {
    grid-area: next;
    }
    
    
    #tumo {
    grid-area: tumo;
    }

    .range-bar {

        position: absolute;
        inset: 0;
        background-color: rgb(254, 0, 0);
        opacity: 1;
        pointer-events: none;
        transform: scaleX(0.5);
        transform-origin: left;
    }

    input[type="range"] {
        flex: 1;
        opacity: 0.5;
    }